/*cabeçalho*/
.logo {
  width: 60px;
  height: auto;
}

/*Conteudo principal*/
main {
  min-height: 500px;
}

/*banner*/
#section-banners img {
  height: 500px;
}

/*Produtos vendidos*/
#section-vendidos {
  text-align: center;
}

#section-vendidos h2 {
  font-weight: bold;
  padding: 20px;
}

#section-vendidos img {
  height: 300px;
  border-radius: 10px;
}

#section-vendidos .card {
  margin: 5px;
  border: 1px solid #ccc;
}

#section-vendidos .card-preco {
  color: red;
  font-size: 18px;
  font-weight: bold;
}

#section-vendidos .card-grupo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Rodapé*/

/*Botão Voltar topo*/

/* página de login  */

/* Formulário de cadastro*/
